<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SocialPostScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="NLECScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FacebookAutoPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SocialPostScheduler.Properties.Settings.SocialPostSchedulerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SocialPostScheduler.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SocialPostScheduler.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBBackupTime" serializeAs="String">
                <value>1:00:00 AM</value>
            </setting>
            <setting name="PostExpireTime" serializeAs="String">
                <value>2:00:00 AM</value>
            </setting>
            <setting name="PublishDate" serializeAs="String">
                <value>2/4/1980 12:12:00 AM +00:00</value>
            </setting>
            <setting name="WebsiteFeed" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramPageID" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramToken" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramAppID" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramAppSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="InstagramPostTime" serializeAs="String">
                <value>2:12:00 AM</value>
            </setting>
            <setting name="RenewUserToken" serializeAs="String">
                <value>1:12:00 AM</value>
            </setting>
            <setting name="EnableInstagram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SocialPostScheduler.Properties.Settings>
        <NLECScheduler.Properties.Settings>
            <setting name="id" serializeAs="String">
                <value>376368333528455</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>f321c27ceae25e84521f978efcfbf8ca</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>97st99ZtA3owgxISxeHw9BxFI</value>
            </setting>
            <setting name="ConsumerKeySecret" serializeAs="String">
                <value>mdVUOkXoyi3Izx3zHbvw0uDgYRW7DajVlC91ZV0lNG6sQL88Lx</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>180086311-LIV7chW7ovNdJsO3GlAtPqZZfoacXl7lWIFBgoyv</value>
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value>XVoD1xPM2fDWwQ3jyAP1H2ns0SJ00x9v6QyN38nClo5Nh</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </NLECScheduler.Properties.Settings>
        <FacebookAutoPost.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value>EAAFWThTTHYcBAAwn2IwYWrgyPBrfA7105Yks4MPjtswPZB9cHaZCZCKzJXAf3DEN8WVdWdcwIFhXbLB0eqmvd5oc1PmAqdOP2DzSLJtaZA3zHWdsPCjmzGLs8c27ZAuqrZC3GZC09DZAnS7vFmMhPjvZCdDnVVGuZBLiqIvYWRWqZAa1AZDZD</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>376368333528455</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>f321c27ceae25e84521f978efcfbf8ca</value>
            </setting>
            <setting name="pageID" serializeAs="String">
                <value>106868692690553</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConsumerKeySecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value/>
            </setting>
        </FacebookAutoPost.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
